<a href="https://colab.research.google.com/github/hannahnomuka/hannahnomuka/blob/main/Mini%20Project%201/Hanna_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merge Tables

In [6]:
data1 = {
    'Name': ['Emma', 'Oliver', 'Ava'],
    'Grade': [45, 90, 21],
    'id': [1, 2,3]
}

data2 = {
    'Name': ['Emma', 'Oliver', 'Lucas'],
    'Age': [10, 12, 10],
    'id': [1, 2,4]
}

In [7]:
print(data1['Name'])

['Emma', 'Oliver', 'Ava']

# Print Grade from data1 dictionary

In [8]:
data2['id']

[1, 2, 4]

In [9]:
data2['Age']

[10, 12, 10]

In [13]:
# Complete the following code

for age in data2:
  print(age)

Name
Age
id

In [17]:
# Complete the following code

for name in data1['Name']:
  print(name)

Emma
Oliver
Ava