<a href="https://colab.research.google.com/github/hannahnomuka/hannahnomuka/blob/main/Mini%20Project%201/Hanna_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merge Tables

In [7]:
data1 = {
    'Name': ['Emma', 'Oliver', 'Ava'],
    'Grade': [45, 90, 21],
    'id': [1, 2,3]
}

data2 = {
    'Name': ['Emma', 'Oliver', 'Lucas'],
    'Age': [10, 12, 10],
    'id': [1, 2,4]
}

In [8]:
print(data1['Name'])

['Emma', 'Oliver', 'Ava']

In [9]:
print(data2['Name'])

['Emma', 'Oliver', 'Lucas']

# Print Grade from data1 dictionary

In [10]:
data2['id']

[1, 2, 4]

In [11]:
data2['Age']

[10, 12, 10]

In [19]:
# Complete the following code

for age in data2 ['Age']:
  print(age)

10
12
10

In [20]:
# Complete the following code

for name in data1['Name']:
  print(name)

Emma
Oliver
Ava

# Homework

In [22]:
for name in data1['Name']:
  print(name)

Emma
Oliver
Ava

In [28]:
for age in data2['Age']:
  print (f'{age} year old')

10 year old
12 year old
10 year old

In [31]:
# Complete the following code using data2
for i in data2 ['id'] :
  print(i)

1
2
4

In [33]:
# Complete the following code using data2

print(i)

4